.header, .hero, .body, .footer, .bar{
    background-color: teal;
}

.box{
	margin: 10px 0;
    margin-bottom: 10px;
    min-height: 80px;
    background-color: red;
    font-size: 35px;
    color: white;
}
.red{
    background-color: lime;
}
.five{
    background-color: blue;
}
